/* GENERAL SETTİNGS */


@font-face {
    font-family: "ZenAntiqueSoft";
    src: url("../fonts/ZenAntiqueSoft-Regular.ttf");
}

body{
    background: #ffffff;
    color: #3f3f3f;
    font-size: 18px ;
    font-family: "ZenAntiqueSoft", Arial;
}

h1 {
    font-size: 52px;
    letter-spacing: 6px;
    margin-bottom: 20px;
}
p {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 20px;

}

footer p {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 10px;
}
h3 {
    font-size: 16px;
    color: #e74949 ;
    font-weight: bold;

}

h4 {
    font-size: 30px;
    margin-left: 0;
}
.inspect {
    text-align: center;
}

.inspectBody .container a:hover {
    background: #e74949;
    color: white;
}

.inspectTest {
    border: 2px solid #e74949;
    padding-bottom: 20px;
    text-align: center;
}
.inspectImage img {
    display: block;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
}


.sectionHeader {
    background-color:#e74949 ;
    height: 60px;
    color: white;
    display: inline-block;
    line-height: 60px;
    font-size: 30px;
    padding: 10px 40px ;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.sectionArea {
    padding: 80px 0;
}

/* GRID SETTİNGS */

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.featuresBody .container {
    justify-content: space-between;
}

.engineBody .Container {
    justify-content: space-between;

}

.col3 {
    flex-grow: 1;
    width: 33.33%;
}

.col2 {
    flex-grow: 1;
    width: 50%;
    padding: 20px;
}


/* HOME SETTİNGS */

header .logo{
    margin-right: auto;
}

header .logo img{
    display: block;
    height: 120px;
}

.menu li{
    float: left;
}

.menu li a {
    padding: 60px 60px;
    display: block;
    text-decoration: none;
    letter-spacing: 3px;
    color: white;
    transition: all .3s ease;
}

.menu li:hover a {
    background-color: #DBC8AC;
    color: #e74949;
}

header .container{
    background-color: #e74949;
    width: 100%;
}

#mainSlider {
    height: 500px;
    background: url("../img/mainHome.jpg") center center;
    background-size: cover;
}

#housesSlider {
    height: 500px;
    background: url("../img/slider2.jpg") center center;
    background-size: cover;
}

.date {
    font-size: 15px;
    font-style: italic;
}

.slider {
    width: 100%;
}

#mainCaption {
    height: 500px;
    background-color: rgba(0,0,0, .3);
}
.caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}

.featuresTop {
    text-align: center;
}

.item:hover .zoom img {
    transform: scale(1.25);
}

.zoom {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.item{
    margin: 5px;
}

.zoom img {
    display: block;
    width: 100%;
    height: auto;
    transition: all .3s ease;
}

.item .itemText {
    text-align: center;
    padding: 15px;
    border: 2px solid #e74949;
}
.item:hover h3 {
    color: #fff;
    transition: all .3s ease;
}

.item:hover {
    background: #e74949;
    color: white;
    transition: all .3s ease;

}

.btnDetails {
    color: #e74949;
    padding: 2px 5px;
    text-decoration: none;
    border: 1px solid #e74949;
    transition: all .3s ease;
}

.item:hover .btnDetails {
    color: white;
    transition: all .3s ease;
    border: 1px solid #ffffff;
}
#parallax {
    background: linear-gradient(rgba(0,0,0, .3), rgba(0,0,0, .3)), url("../img/parallax.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#parallax p {
    color: white;
}

.engineContainer {
    position: relative;
    width: 100%;
}

.imageOver {
    display: block;
    width: 100%;
    height: auto;
}

.engineOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(231,73,73,.7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .3s ease;
}

.engineContainer:hover .engineOverlay {
    width: 100%;
}

.engineText {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.engineOverlay2 {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(231,73,73,.7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .3s ease;
}
.engineContainer:hover .engineOverlay2 {
    width: 100%;
    left: 0;
}
footer {
    background: #e74949;
    text-align: center;
}
.socialLinks {
    display: flex;
    padding: 10px 10px;
    justify-content: center;
}

.footerItem {
    padding: 10px;
    height: 100%;
}
footer h3 {
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    opacity: .7;
    margin-bottom: 10px;
}

footer .bi {
    font-size: 30px;
    color: white;
    opacity: .6;
    padding:10px;
}

footer .bi:hover {
    opacity: 1;
}

.footerLinks{
    height: 100%;
    color: white;
}

.footerLinks li {
    margin-bottom: 10px;
}
.footerLinks a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    opacity: .6;
}

.footerLinks a:hover {
    opacity: 1;
    text-decoration: underline;
}

.footerItem p{
    color: white;
    opacity:.6;
}
